header {
  background-color: green;
  margin-bottom: 20px;

  padding: 20px;
}

.headtext {
  margin-left: 20px;

  font-style: italic;

  color: rgb(220, 218, 220);
  font-size: 24px;
}

.bild1 {
  width: 400px;
}

.bild2 {
  margin-left: 400px;

  width: 200px;
}

.foottext {
  font-style: italic;
  text-align: center;
  font-size: 25px;
}

footer {
  padding: 20px;
  background-color: rgb(190, 38, 38);
}

h1 {
  font-size: 90;
  color: rgb(184, 12, 12);
  padding-left: 200px;
}

h4 {
  font-size: 28px;
  text-align: center;
  color: rgb(1, 43, 1);

  padding: 2px;
}
